body {
    background-color: #252526;
}

.sorry_h1 {
    color: white;
    font-family: 'DM Sans', sans-serif;
    letter-spacing: -0.5px;

    margin: 0;              
}

.container {
    height: 98vh;
    display: flex;
    align-items: center;
    justify-content: center
}

.em_sorry {
    color: #5C62EC;
    font-family: 'DM Sans', sans-serif;
    letter-spacing: -0.5px;
}